{% extends "base.html" %}

{% block content %}

    <br/>
    <h1>Select an Image to Compute its Histogram</h1>
    <br/>
    <form method="post">
        <h3>
            Image:
        </h3>
        <p>
            <select name="image_id">
                {% for image in images %}
                    <option value="{{ image }}" SELECTED>{{ image }}</option>
                {% endfor %}
            </select>
        </p>
        <h3>
            Histogram Type:
        </h3>
        <p>
            <select name="type">
                <option value="Mean" SELECTED>Mean Histogram</option>
                <option value="RGB" SELECTED>RGB Histograms</option>
            </select>
        </p>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}